<h1 class="ui header">
    <%= @recipe.title%>
</h1>
<div class="content">
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
	<em>From: </em><%= pluralize(@recipe.comments.count, "review") %>
</div>

<div id="recipe-div">
    <% if @recipe.pic.attached? %>
        <div id="recipe-pic">
            <%= image_tag(@recipe.pic)  %> 
        </div>
    <% end %>
    
    <% if logged_in? %>
        <div class="ui list">
            
            <% if current_user.has_not_this_recipe?(@recipe.id)%>
                <div class="item">
                    <i class="plus olive icon"></i>
                    <%= link_to "Add to favourites", user_recipes_path(user: current_user, recipe: @recipe), class: "content", method: :post %>
                </div>
             <% end %>
            
            <% if !current_user.has_not_this_recipe?(@recipe.id)%>
                <div class="item">
                    <i class="minus olive icon"></i>
                    <%= link_to "Remove from favourites", user_recipe_path(@recipe), method: :delete,
                        data: { confirm: "Are you sure you want to remove this recipe from your list?"},class: "content" %>
                </div>
            <% end %>
            
            <% if @recipe.creator_id == current_user.id %>
                <div class="item">
                    <i class="edit olive icon"></i>
                    <%= link_to "Edit", edit_recipe_path(@recipe), class: "content" %>
                </div>
            <% end %>
            
            <div class="item">
                Create by: 
                <% if logged_in? %>
                    <% if @recipe.creator_id == current_user.id %>
                        You <i class="smile olive icon"></i>  
                    <% else %>
                        <%= link_to "#{@creator.username}", user_path(@creator) %>
                    <% end %>
                <% else %>
                    <%= @creator.username %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<div id="description">
    <%= @recipe.description %></em>
</div>

<h5 class="ui header">
    
</h5>





 
<h3 class="ui header">
  Ingredience
  <div class="sub header"><%= simple_format(@recipe.ingredients) %></div>
</h3>

<h3 class="ui header">
  Method
  <div class="sub header"><%= simple_format(@recipe.steps) %></div>
</h3>

<% if @recipe.link? %>
    <h3 class="ui header">
      Link
      <div class="sub header"><%= @recipe.link %></div>
    </h3>
<% end %>

<% if @recipe.categories.any? %>
    <h3 class="ui header">
        Categories
    </h3>
    <%= render @recipe.categories %>
   
<% end %>

</br>
</br>

<h2>Comments</h2>
<div class="ui large list" id="comments">
    <%= render "comments/comment" %>
</div>


<% if current_user %>
    <%= render "comments/form" %>
<% else %>
    <h3 class="ui header">
        Please log in to enter a comment
    </h3>
<% end %>


 