<div class="margin-bottom-50">
    <div class="ui card ">
        <div class="content">
            <div class="header">Profile</div>
                <div class="content">
                    <strong>Name: </strong><%= @user.username%></span>
                </div>
                <div class="content">
                    <strong>Email: </strong><%= @user.email%></span>
                </div>
            </div>
            <div class="extra content">
                <%= link_to "Edit profile", edit_user_path(@user), class: "ui olive submit button" %>
            </div>
        </div>
    </div>
</div>

<div class="ui container"> 
    <div class="ui grid">
        <div class="twelve wide column">
    
        <div class="margin-bottom-50">
            <div class="ui header large olive "> My favourited recipes </div>
            <% if @user.recipes.count > 0 %>
                <div class="ui cards">
                    <%= render "recipes/recipe", obj: @user.recipes %>
                </div>
            <% else %>
                <div class="header">
                    You dont have any saved recipes
                </div>
            <% end %>
        </div>
        
        <div class="ui header large olive "> My recipes </div>
        <% if @recipes.count > 0 %>
            <div class="ui cards">
                <%= render "recipes/recipe", obj: @recipes %>
            </div>
        <% else %>
            <div class="header">
                You have not created any recipes
            </div>
        <% end %>
    </div> 
    
    <div class="four wide column">
        <div class="ui header large olive "> My Friends </div>
        <% if @friends.count > 0 %>
            <%= render "users/friend", obj: @friends %>
        <% else %>
            <div class="header">
                You have not added any friends
            </div>
        <% end %>
    </div>
    
</div>
   
        