<div class="margin-bottom-50">
    <div class="ui olive inverted menu" >
        <div class="ui container">
            <%= link_to "Cookbook", root_path, class: "item" %>
            <% if logged_in? %>
                <div class="ui dropdown item">
                    Recipes <i class="dropdown icon"></i>
                    <div class="menu">
                        <%= link_to "All recipes", recipes_path, class: "item" %>
                        <%= link_to "My recipes", user_path(current_user), class: "item" %>
                        <%= link_to "Create a new recipe", new_recipe_path, class: "item" %>
                        <%= link_to "Search recipes", new_user_recipe_path, class: "item" %>
                    </div>
                </div>
                <div class="ui dropdown item">
                    Friends <i class="dropdown icon"></i>
                    <div class="menu">
                        <%= link_to "All users", users_path, class: "item" %>
                        <%= link_to "My friends", user_path(current_user), class: "item" %>
                        <%= link_to "Find a new friend", new_friendship_path, class: "item" %>
                    </div>
                </div>
            <% else %>
                <div class="ui dropdown item">
                    Recipes <i class="dropdown icon"></i>
                    <div class="menu">
                        <%= link_to "All recipes", recipes_path, class: "item" %>
                        <%= link_to "Search recipes", new_user_recipe_path, class: "item" %>
                    </div>
                </div>
            <% end %>
            
            
            <div class="right menu">
                <% if logged_in? %>
                    <div class="item">
                        You are logged in as <%= current_user.username %>
                    </div>
                <% end %>
                
                <div class="ui dropdown item">
                    Account <i class="dropdown icon"></i>
                    <div class="menu">
                        <% if logged_in? %>
                            <%= link_to "Profile", user_path(current_user), class: "item" %>
                            <%= link_to "Edit profile", edit_user_path(current_user), class: "item" %>
                            <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
                        <% else %>
                            <%= link_to "Log in / Sign up", root_path, class: "item" %>
                        <% end %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>