<div class="ui huge header center aligned icon">
    <i class="circular olive book icon"></i>
    Wellcome to Cookbook
</div>

<div class="ui center aligned large header">
     Cooking social media where you can create, store and share recipes with your friends.
</div>

<% if !logged_in? %>
    <div class="ui center aligned medium icon header">
        Log in or sign up to continue
    </div>
    
    <%= render "shared/errors", obj: @user %>

    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
            
            <%= render "sessions/login_form" %>
            <%= render "users/users_form" %>
            
        </div>
        <div class="ui vertical divider">
            Or
        </div>
    </div>
<% else %>
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
            
            <div class="column">
            <div class="ui header center aligned icon">
                <i class="circular olive coffee icon"></i>
                <%= link_to "All recipes", recipes_path %>
            </div>
            <div class="ui header center aligned icon">
                <i class="circular olive birthday cake icon"></i>
                <%= link_to "My recipes", user_path(current_user) %>
            </div>
            <div class="ui header center aligned icon">
                <i class="circular olive bomb icon"></i>
                <%= link_to "Create a new recipe", new_recipe_path %>
            </div>
            <div class="ui header center aligned icon">
                <i class="circular olive lightbulb icon"></i>
                <%= link_to "Search recipes", new_user_recipe_path %>
            </div>
            </div> 
            <div class="column">
                my friends will come here
            </div>
            
        </div>
        <div class="ui vertical divider">
            Or
        </div>
    </div>
    
    
<% end %>

