<div class="ui huge header center aligned icon">
    <i class="circular olive book icon"></i>
    Wellcome to Cookbook
</div>

<div class="margin-bottom-50">
    <div class="ui center aligned large header">
         Cooking social media where you can create, store and share recipes with your friends.
    </div>
</div>

<% if !logged_in? %>
    <div class="ui center aligned medium icon header">
        Log in or sign up to continue
    </div>
    
    <%= render "shared/errors", obj: @user %>

    <div class="ui placeholder segment">
        <div class="ui stackable two column very relaxed grid container">
            
            <%= render "sessions/login_form" %>
            
            <div class="ui vertical divider" id="vertical-divider">
                Or
            </div>

            <%= render "users/users_form" %>
            
        </div>
        
    </div>
<% else %>
    <div class="ui placeholder segment">
        <div class="ui stackable two column very relaxed grid container">
            
            
            <div class="column">
                <div class="ui header center aligned icon">
                    <i class="circular olive coffee icon"></i>
                    <%= link_to "All recipes", recipes_path %>
                </div>
                <div class="ui header center aligned icon">
                    <i class="circular olive birthday cake icon"></i>
                    <%= link_to "My recipes", user_path(current_user) %>
                </div>
                <div class="ui header center aligned icon">
                    <i class="circular olive bomb icon"></i>
                    <%= link_to "Create a new recipe", new_recipe_path %>
                </div>
                <div class="ui header center aligned icon">
                    <i class="circular olive lightbulb icon"></i>
                    <%= link_to "Search recipes", new_user_recipe_path %>
                </div>
            </div> 
            
            <div class="ui vertical divider" id="vertical-divider">
                Or
            </div>
            
            <div class="column">
                <div class="ui header center aligned icon">
                    <i class="circular olive user circle outline icon"></i>
                    <%= link_to "All users", users_path %>
                </div>
                <div class="ui header center aligned icon">
                    <i class="circular olive smile outline icon"></i>
                    <%= link_to "My friends", user_path(current_user) %>
                </div>
                <div class="ui header center aligned icon">
                    <i class="circular olive user secret icon"></i>
                    <%= link_to "Find a new friend", new_friendship_path %>
                </div>
            </div> 
            
        </div>
        
    </div>
    
    
<% end %>

