<div class="margin-bottom-50">
    <div class="ui card ">
        <div class="content">
            <div class="header">Profile</div>
                <div class="content">
                    <%= image_tag(@user.profile_picture, width: 250) if @user.profile_picture.attached? %> 
                </div>
                <div class="content">
                    <strong>Username: </strong><%= @user.username%></span>
                </div>
                <div class="content">
                    <strong>Name: </strong>
                    <% if @user.first_name || @user.last_name %>
                        <%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %>
                    <% else %>
                        <em>Not provided</em>
                    <% end %>
                </div>
                <div class="content">
                    <strong>Email: </strong><%= @user.email%></span>
                </div>
                <div class="content">
                    <strong>Number of favourited recipes: </strong><%= @user.recipes.count%>
                </div>
                <div class="content">
                    <strong>Number of created recipes: </strong><%= @user.count_created_recipes(@user.id)%>
                </div>
                <div class="content">
                    <strong>Number of friends: </strong><%= @user.friends.count%>
                </div>
                
            </div>
            <% if @user == current_user %>
                <div class="extra content">
                    <%= link_to "Edit profile", edit_user_path(@user), class: "ui olive submit button" %>
                    <%= link_to "Add friend", new_friendship_path, class: "ui olive submit button" %>
                </div>
                <div class="extra content">
                    <%= link_to "New recipe", new_recipe_path, class: "ui olive submit button" %>
                    <%= link_to "Search recipes", new_user_recipe_path, class: "ui olive submit button" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% if params[:controller] == "comments" %>
  <% if params[:action] == "create" || params[:action] == "destroy" %>
    <div>
      <%= render "shared/flash_messages" %>
    </div>
  <% end %>
<% end %>


<h1 class="ui center aligned icon header">
    <i class="circular olive balance scale icon"></i>
    <%= @recipe.title%>
</h1>

<h2 class="ui header">
    <%= @recipe.description %></em>
</h2>

<h5 class="ui header">
    Create by: 
    <% if logged_in? %>
        <% if @recipe.creator_id == current_user.id %>
            You <i class="smile olive icon"></i>  
        <% else %>
            <%= link_to "#{@creator.username}", user_path(@creator) %>
        <% end %>
    <% else %>
        <%= @creator.username %>
    <% end %>
</h5>

<div class="content">
    Average rating
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
	<em>From: </em><%= pluralize(@recipe.comments.count, "review") %>
</div>

<% if logged_in? %>
    <div class="ui list">
        
        <% if current_user.has_not_this_recipe?(@recipe.id)%>
            <div class="item">
                <i class="plus olive icon"></i>
                <%= link_to "Add to favourites", user_recipes_path(user: current_user, recipe: @recipe), class: "content", method: :post %>
            </div>
         <% end %>
        
        <% if !current_user.has_not_this_recipe?(@recipe.id)%>
            <div class="item">
                <i class="minus olive icon"></i>
                <%= link_to "Remove from favourites", user_recipe_path(@recipe), method: :delete,
                    data: { confirm: "Are you sure you want to remove this recipe from your list?"},class: "content" %>
            </div>
        <% end %>
        
        <% if @recipe.creator_id == current_user.id %>
            <div class="item">
                <i class="edit olive icon"></i>
                <%= link_to "Edit", edit_recipe_path(@recipe), class: "content" %>
            </div>
        <% end %>
        
    </div>
<% end %>
